page-home {

}
.iconCube
{
  width:50%;
  height:110px;
  float:right;
  background-color:red;
}

.iconCubeDiv
{
  width:30%;
  margin-top:15px;
  font-family: 'Rubik', sans-serif;
  direction:ltr !important;
}


.iconCubeText
{
  color:white;
  font-family: 'Rubik', sans-serif;
  font-size:14px;
  margin-top:-10px;
}